<html>
<head>
</head>
<body>
<div class = "container">
<h1> Stupid Coaching </h1>
<div class = "question">
<h2><%= @questions %></h2>
<p> - you </p>
</div>
<br>
<div class = "answer">
<h2><%= @answer %></h2>
<p> - Coach </p>
</div>
<br>
<span class = "button"> <%= link_to "ask another question", "/ask" %></span>
</div>
</body>
