<div class = "container">
<h1> Stupid Coaching </h1>
<h2> ask me anything </h2>
<form action="/answer" data-turbo="false">
  <input type="text" name="question"  value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
</div>
